* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 125%;
  text-rendering: optimizeLegibility;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.25;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*-----------------------*/
/* Header */
/*-----------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/header-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.brand-name {
  color: #fff;
}

.title-container {
  color: #fff;
}

.nav-item {
  font-size: 90%;
  text-transform: uppercase;
  margin-left: 20px;
}

.nav-item .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link:link,
.navbar-light .navbar-nav .nav-item .nav-link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-bottom 0.2s;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
  border-bottom: 2px solid #e67e22;
}

/* .header-img {
    height: 320px;
    margin-top: 60px;

} */

/* .heading-container {
    padding: 120px;
} */

.sub-heading {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}

.mt-6 {
  margin-top: 5rem !important;
}

/* Responsive Site */

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .mt-6 {
    margin-top: 2rem !important;
  }

  .sub-heading {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 500px) {
  .mt-6 {
    margin-top: 2rem !important;
  }

  .sub-heading {
    font-size: 155%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 365px) {
  .sub-heading {
    font-size: 140%;
  }
}

/*-----------------------*/
/* JavaScript Projects */
/*-----------------------*/

.project-section {
  padding: 50px;
}

.project-heading:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

.card {
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-card-image {
  height: 100%;
  width: 40%;
  display: block;
  margin: auto;
}

.card-btn {
  text-decoration: none;
  color: #fff;
}

.card-btn:hover {
  color: #fff;
}

.card-title {
  text-transform: uppercase;
  font-size: 100%;
}

.card-img-container {
  padding: 30px 0;
}

.card-bg-1 {
  background-color: #62b6cb;
}

.card-bg-2 {
  background-color: #60d394;
}

.card-bg-3 {
  background-color: #ff9b85;
}

.card-bg-4 {
  background-color: #ffd97d;
}

.card-bg-5 {
  background-color: #90be6d;
}

/*-----------------------*/
/* About us */
/*-----------------------*/

#about-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/about-us-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
}

.about-us-heading {
  color: #fff;
}

.about-us-heading:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*-----------------------*/
/* Footer */
/*-----------------------*/

.footer-container {
  background-color: #2c2c2c;
  color: #fff;
  padding: 50px 20px 0 20px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 15px;
}

.footer-container span {
  font-size: 24px;
}

.footer-social-media a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.4rem;
  transition: 0.3s linear;
}

.footer-social-media {
  margin-top: 15px;
}

.footer-border {
  width: 70px;
  margin-top: 5px;
  height: 4px;
  background-color: #fc5c65;
}

.email-holder {
  padding: 7px 20px;
  font-size: 0.6rem;
  border-radius: 5px;
}

.submit-btn {
  padding: 7px 20px;
  margin-left: 10px;
  font-size: 0.6rem;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #fc5c65;
  border: none;
  cursor: pointer;
}

.navigate-content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.navigate-content a {
  color: #fff;
  margin: 7px 0;
  text-decoration: none;
  font-size: 18px;
}

.newsletter-des {
  margin-top: 20px;
  font-size: 18px;
}

@media screen and (max-width: 350px) {
  .submit-btn {
    padding: 7px 10px;
  }
}

/*-----------------------*/
/* Login Page */
/*-----------------------*/

.px-6 {
  padding-left: 6.6rem !important;
  padding-right: 6.6rem !important;
}

.close-modal-button {
  position: absolute;
  top: -1rem;
  right: 0.5rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* form */
.container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 410px;
  padding: 30px;
  border-radius: 10px;
  color: black;
}

.container-login .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.container-login form {
  margin-top: -20px;
}

.container-login form .data {
  height: 40px;
  width: 100%;
  margin: 40px 0;
}

form .data label {
  font-size: 20px;
  color: black;
}

form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid silver;
}
