*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
.cointainer{
    
    background-image: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.box{
    width:650px ;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
   
}

.self-btn{
    margin-top: -20px;
   margin-left: 200px;
   width: 200px;
}