@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #b8c6db;
    /* background-image: linear-gradient(315deg, #b8b6db 0%, #f5f7f7 100%); */
    /* background-image: url(./images/bg-3.jpg); */
    background: linear-gradient(#0f0c29,#302b63, #24243e);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     margin: 0; 
   overflow: hidden;
   color: yellow;
}
.quiz-cointainer{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.3);
    width: 600px;
    overflow: hidden;
}
.quiz-header{
    padding: 4rem;
}
#question{
    font-size: 1.8rem;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.6rem;
    margin: 1rem 0;
}
ui li label{
    cursor: pointer;
}
button{
    background-color: yellow;
    /* background: linear-gradient(#4b6cb7,#182848); */
    color: black;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: inherit;
    padding: 1.3rem;
}
button:hover{
    background-color: #ffd801;
}



@media (max-width:430px){
    .quiz-cointainer{
    /* background-color: red; */
    width: 22rem;
    height: 92vh;
    line-height: 20px;
    }
    #question{
            width: 389px;
        margin-top: -43px;
        margin-left: -83px;
        line-height: 28px;
    }
    button{
        /* display: none; */
       /* margin-top: 5px; */
    }
   
    #a_text,#b_text,#c_text,#d_text{
        margin-left: 10px;
        
    }
}


